body {
  background-color: #f1f2f6;
  color: #222f3e;
  font-family: 'PT Sans', sans-serif;
  /*
  font-family: 'Cardo', serif;
  */
  font-weight: 300;

  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
