.addBoxerContainer {
  width: 800px;
  background: #30336b;
  color: #ffffff;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 65px;
}

.addBoxerMainHeader {
  text-align: center;
}

.createBoxerHeader {
  margin-left: 20px;
}

.createBoxerInput {
  margin: 0 auto;
  width: 80%;
  padding: 10px 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
}

.createBoxerInputSubmitContainer {
  text-align: center;
  padding: 10px;
}

.createBoxerInputSubmit {
  text-align: center;
  width: 35%;
  padding: 12px 20px;
  color: #30336b;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #000001;
  box-sizing: border-box;
}

.createBoxerInputSubmit:hover {
  background: #adadad;
  color: #1d1e22;
  cursor: pointer;
}

.addBoxerBackLink {
  text-align: center;
  height: 24px;
  width: 60px;
  max-width: 60px;
  padding: 3px;
  color: #000001;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid#1d1e22;
}

.addBoxerBackLink:hover {
  background: #adadad;
  color: #1d1e22;
  cursor: pointer;
}
